ErrorDocument 403 /error.php?code=403
ErrorDocument 404 /error.php?code=404
ErrorDocument 500 /error.php?code=500
DirectoryIndex index.html index.php /error.php?code=403
# AddHandler application/x-httpd-php72 .php
# AddType application/x-httpd-php .php .html
# php_flag register_globals off
# php_value default_charset utf-8
# php_value date.timezone Europe/Warsaw
# php_value max_execution_time 60
# php_value memory_limit 256M
# php_value post_max_size 20M
# php_value upload_max_filesize 10M
RewriteEngine on
RewriteBase /
RewriteCond %{HTTPS} !^on$
RewriteCond %{HTTP_HOST} !^127\.0\.0\.15$ [NC]
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
RewriteCond %{HTTP_HOST} !^framework\.eeq$ [NC]
RewriteCond %{HTTP_HOST} !^127\.0\.0\.15$ [NC]
RewriteRule ^(.*)$ https://framework.eeq/$1 [R=301,L]
RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?framework\.eeq/ [NC]
RewriteCond %{HTTP_REFERER} !^http(s)?://127\.0\.0\.15/ [NC]
RewriteRule \.(exe|eot|woff|woff2|ttf|svg|pdf|zip|rar|bmp|png|gif|jpg|jpeg|wav|flac|mp3|avi|mpg|mpeg|mp4|flv|swf)$ - [NC,F,L]
RewriteRule \.(ini)$ - [NC,F,L]
RewriteRule ^$ /index.php?option=main-page [L]
RewriteRule ^rejestracja$ /index.php?option=add-user [L]
RewriteRule ^rejestracja,([0-9A-Za-z]+),([0-9A-Za-z]+)$ /index.php?option=add-user&user=$1&code=$2 [L]
RewriteRule ^logowanie$ /index.php?option=login-user [L]
RewriteRule ^logowanie,([0-9A-Za-z]+),([0-9A-Za-z]+)$ /index.php?option=login-user&user=$1&code=$2 [L]
RewriteRule ^konto$ /index.php?option=user-account [L]
RewriteRule ^konto,([0-9]+),strona,([0-9]+)$ /index.php?option=user-account&account=$1&level=$2 [L]
RewriteRule ^uzytkownik,([0-9]+),edycja$ /index.php?option=edit-user&user=$1 [L]
RewriteRule ^strona,([0-9]+),edycja$ /index.php?option=edit-site&site=$1 [L]
RewriteRule ^admin$ /index.php?option=admin-account [L]
RewriteRule ^admin,([0-9]+),strona,([0-9]+)$ /index.php?option=admin-account&account=$1&level=$2 [L]
RewriteRule ^strona,([0-9]+),akceptacja$ /index.php?option=accept-site&site=$1 [L]
RewriteRule ^wylogowanie$ /index.php?option=logout-user [L]
RewriteRule ^regulamin$ /index.php?option=user-regulation [L]
RewriteRule ^prywatnosc$ /index.php?option=user-privacy [L]
RewriteRule ^pomoc$ /index.php?option=user-help [L]
RewriteRule ^kontakt$ /index.php?option=contact-form [L]
RewriteRule ^link$ /link.php [L]
RewriteRule ^pokaz$ /index.php?option=show-site [L]
RewriteRule ^info$ /index.php?option=show-info [L]
RewriteRule ^ajax/miejsce,([0-9]+)$ /index.php?option=city-list&province=$1 [L]
RewriteRule ^rest/dodawanie$ /index.php?option=add-site [L]
RewriteRule ^rest/aktualizacja$ /index.php?option=update-site [L]
RewriteRule ^rest/usuwanie$ /index.php?option=delete-site [L]
RewriteRule ^$ - [L]
RewriteRule ^index\.php$ - [L]
RewriteRule ^link\.php$ - [L]
RewriteRule ^error\.php$ - [L]
RewriteRule ^slider/slider\.php$ - [L]
RewriteRule ^vendor/webeeq/sieciq/example/ - [L]
RewriteRule \.(eot|woff|woff2|ttf|svg|txt|js|css|ico|bmp|png|gif|jpg|jpeg|flv|swf)$ - [NC,L]
RewriteRule ^.*$ - [F,L]
